.profilename{
    margin-left:4px;
    font-family: monospace;
  }
  #profiledescription{
    font-weight: 200;
    font-style: italic;
    font-family: Lucida;
    word-spacing: 10px;
    justify-content: justify;
    line-height: 150%;
  }
  .about-image{
    width:400px;
    height:400px;
    margin-top:40px;
    margin-left:10%;  
  
  }
  .about-me{
    width:600px;
    height:400px;
    margin-top:40px;
   }
   .edit{
    display: grid;
    grid-template-columns: auto auto;
   }
 