.Skillsmapimage{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left:250px;
}
.image{
  display: grid;
  grid-template-columns: auto auto auto auto;
  width:100px;
  height:100px;
  object-fit: cover;
  margin-top: 20px;
}
.textfield{
  margin-left:30%;
  margin-top: 5%;
}
#contact{
  margin-left:40%;
  font-family:Lucida;
}
#toolbar{
  margin-left:150px;
}
#button1{
  width:150px;
  height:80px;
  margin-left:30px;
  border-radius: 50%;
}
#button1:hover{
  background-image:radial-gradient(yellow, greenyellow );
}
#i1{
  height:50px;
}
#sub:hover{
  font-size: 110%;
}
h1{
  text-align: center;
}
#filled-basic{
  text-align: center;
}
.projects{
  margin:50px;
  margin-left:5px
}
.projectsimage{
  width:220px;
  height:150px;
}
.projectimage{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left:180px;
}
#profilename{
  margin-left:4px;
  font-family: monospace;
}
#profiledescription{
  font-weight: 200;
  font-style: italic;
  font-family: Lucida;
  word-spacing: 10px;
  justify-content: justify;
  line-height: 150%;
  margin:40px;
}