
  .skillimage{
    width:50px;
    height:50px;
    object-fit: cover;
    margin-top: 20px;
  }
  .skillname{
    font-size: 10px;
    margin-right: 10px;
      }
h2{
  font-family:'Lucida'
}
.Skillsmapimage{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left:5px;
}
